body { 
    background-color: #f2f2f2;
    margin: 0; 
}

*, *:before, *:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('gt-walsheim-web.woff') format('woff');
}